<fieldset class="questions-wrapper">
    <legend><%=title%></legend>
    
    <%for(let quiz of quizzes){%>
      <form>
        <!-- Uncomment <a href="api/quizzes"> once connected to backend -->
        <!-- <a href="<%='/api/quizzes/' + quiz.id %>"><%=quiz.title%></a> -->

        <!--  Remove <a href="/questions"> once connected to backend-->
        <a href="/questions"><%=quiz.title%></a>


        <%if(quiz.user_id == user.id){%>
          <button class="btn btn-primary quiz-button" type="submit">
            Edit
          </button>
          <button formmethod="get" formaction="<%='/api/quizzes/delete/' + quiz.id %>" class="btn btn-primary quiz-button"
            type="submit">
            Delete
          </button>
          <%}%>
      </form>
      <%}%>

  </fieldset>