<!DOCTYPE html>
<html lang="en">
<%- include('partials/head',{title:'Quiz Questions'}) %>

  <body class="quiz-page">

    <%- include('partials/navbar', {isLoggedIn, user, links:[{title:'Home', path:'/'}, {title:'Private Quizzes', path:'/privatequiz'},{title:'Create Quiz', path:'/createquiz'},{title:'Scores', path:'/userScores'}]}) %>

      <fieldset class="quiz-questions-wrapper">
        <legend>
          <%=quiz.title%>
        </legend>
        <form action="<%='/api/quizResponses/' + quiz.id%>" method="post">
          <%for(let quizQuestion of quiz.quizQuestions) {%>
            <div class="quiz-question">
              <label class="question-title">
                <%=quizQuestion.question%>
              </label>
              <div class="question-option-wrapper">
                <%for(let option of quizQuestion.quizQuestionOptions) {%>
                  <Label class="<%=option.is_correct_option ? 'crct':''%>">
                    <input required class="question-option-radio" type="radio" name="<%=quizQuestion.id%>"
                      value="<%=option.id%>" />
                    <span class="question-option-title">
                      <%=option.option%>
                    </span>
                  </Label>
                  <%}%>
              </div>
              <hr />
            </div>
            <%}%>

              <div class="quiz-page-footer">
                <input type="submit" class="btn btn-primary quiz-button">
              </div>
        </form>
      </fieldset>
  </body>

</html>