<!DOCTYPE html>
<html lang="en">

<%- include('partials/head',{title:'Scores'}) %>

    <body class="score-page">

        <%- include('partials/navbar', {isLoggedIn, user, links:[{title:'Home', path:'/'}, {title:'Private Quizzes', path:'/privatequiz'},{title:'Create Quiz', path:'/createquiz'},{title:'Scores', path:'/userScores', currentPath:true}]}) %>

            <div class="score-table">
                <div class="table-row table-head">
                    <label class="table-cell">
                       Time
                    </label>
                    <label class="table-cell">
                    Quiz

                        </label>
                        <label class="table-cell">
                       Score
                            </label>
                </div>

                <%for(let score of scores) {%>
                    <div class="table-row">
                        <span class="table-cell">
                            <%=(new Date(score.transaction_time)).toLocaleString()%>
                        </span>
                        <span class="table-cell">
                        <%=score.title%>

                            </span>
                            <span class="table-cell">
                            %<%=score.score%>
                                </span>
                    </div>

                    <%}%>
            </div>

    </body>

</html>